@{
    ViewBag.Title = "Project Liike (LEEE-keh)";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h2>@ViewBag.Message</h2>
            <h3>Project Liike is a effort to produce guidance that helps organizations build mobile web applications for modern browsers. There are countless devices available today and all indications suggest this number is only going to grow, without convergence. The factors to help choose between native apps and web apps are fairly well-known. Those who choose the web face numerous decisions and challenges based on their requirements. This project aims to help.</h3>
        </hgroup>
        <p>
            To learn more about @ViewBag.Title visit <a href="http://liike.github.com/" title="@ViewBag.Title">http://liike.github.com/</a> 
            and <a href="http://github.com/liike" title="@ViewBag.Title on github">http://github.com/liike</a>.
        </p>
    </div>
</section>
}


<h3>We would love to have you join us.</h3>

<ol>
    <li>
        <h5>Who</h5>
        The <a href="http://msdn.microsoft.com/practices" title="patterns & practices">Microsoft patterns & practices</a> team is a group of engineers (developers, testers, program managers), designers, and technical writers who produce guidance to help the larger community build solutions. We hope to make the mistakes so you don’t have to.
    </li>
    <li>
        <h5>What</h5>
        Generally speaking, the guidance is delivered in two related forms: code and prose. The outcome of the project is most often a sample application (complete with its unit tests) as open source code, and all the necessary written content to describe our lessons learned, decision points and recommendations. The first order of business is to identify the scenario that will have the most impact in the community. We then implement enough of the scenario to identify some challenges (of course we have already identified some). We will prioritize the challenges/solutions and write them up as patterns accompanied by source code that isolates the pattern. We will tackle as many as our time and budget constrainsts will permit. This will all be completely free - you don’t even have to sign in anywhere to get the goods.
    </li>
    <li>
        <h5>Principles</h5>
        <ul>
            <li>This project values open, standards-based development</li>
            <li>We value the great work already available and intend to thank existing thought-leaders through attribution</li>
            <li>This work should happen in the open so everyone is able to follow along</li>
            <li>This project represents a conversation not a dictation</li>
            <li>We would like to meet the community where it is - using what it’s using</li>
            <li>The guidance should be based on the best thinking avilable but also the scenarios customers care about</li>
            <li>Will use the best open source libraries/frameworks available when appropriate</li>
        </ul>
    </li>
    <li>
        <h5>How</h5>
        We hire experts, developers, testers, and writers to augment our team of full-time employees to build these deliverables. We do so using agile/scrum team practices that operate on weekly or fortnightly sprints. At the end of each iteration we hold calls with a group of advisors to demo the new stuff, discuss decision points, and get feedback on our direction. This feedback is crucial to our success.
    </li>
</ol>

<section class="features">
    <section class="feature">
        <h3>patterns & practices</h3>
        <p>
            Each <a href="http://msdn.microsoft.com/en-us/library/ff921345.aspx" title="patterns & practices">patterns & practices</a> offering contains a combination of written documentation and re-usable source code. Many also include a reference implementation. As the guidance is being developed it is reviewed and approved by internal Microsoft product teams and by external customers and partners. This produces a solid starting point for your application and a set of proven practices that you can follow with confidence.
        </p>
    </section>
    <section class="feature">
        <h3>Project Silk</h3>
        <p>
            <a href="http://msdn.microsoft.com/en-us/library/hh396380.aspx" title="Project Silk">Project Silk</a> provides guidance for building maintainable cross-browser web applications that are characterized by an intentional design, rich interactivity, and a responsive user interface (UI), resulting in an immersive and engaging user experience (UX). Such applications take advantage of the latest web standards, including HTML5, CSS3, and ECMAScript version 5, and modern web technologies such as jQuery and ASP.NET MVC3. 
        </p>
    </section>
    <section class="feature">
        <h3>Liike?</h3>
        <p>
            It’s a Finnish word that means motion/movement, which not only represents how the web moving from desktops to devices, but also the mobility the devices provide. Also has a nice ring to it :)
        </p>
    </section>
</section>