@{
    ViewBag.Title = "About Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        The <a href="http://msdn.microsoft.com/practices" title="patterns & practices">Microsoft patterns & practices</a> team is a group of engineers (developers, testers, program managers), designers, and technical writers who produce guidance to help the larger community build solutions. We hope to make the mistakes so you don’t have to.
    </p>
</article>

<aside>
    <h3>Other Resources</h3>
    <ul>
        <li><a href="http://www.asp.net/learn/whitepapers/add-mobile-pages-to-your-aspnet-web-forms-mvc-application">Mobile On ASP.NET</a></li>
        <li><a href="http://www.browserscope.org/">Browserscope</a></li>
        <li><a href="http://mobilehtml5.org/">Mobile HTML5 compatibility tables</a></li>
    </ul>
</aside>